/*Trabalhando com alinhamento de texto*/
.text-alingned {
  text-align: right;
}

.container-center {
  text-align: center;
  width: 300px;
  border: 5px solid blue;
}

/*TEXT Decoration*/
.underline {
  text-decoration: underline;
}

.line-though {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: red;
}

/*Text transform*/
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}
