body {
    padding: 10px;
    padding-bottom: 200px
}

div{
    display: block;
}

label{
    display: block;
    padding: 5px
}

input {
    display: block;
}

.radio label, 
.radio input,
.radio span{
    display: inline-block;
}

.checkbox{
    display: inline-block;
}