* {
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  border: none;
  border-bottom: #a5d2ff solid 5px;
  padding: 10px 0px;
  margin: 5px;
  width: 145px;
  font-family: sans-serif;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #1a0a00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #cce2f6;
  text-align: center;
}

p,
label {
  color: #333;
  font-family: sans-serif;
}

label {
  display: block;
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 40%;
  margin: none;
  border-bottom: #00999e solid 5px;
  padding-left: 10px;
}

.header {
  background-color: #2a6cb8;
  block-size: auto;
  height: 300px;
}

.header h3 {
  color: #fff;
  padding-top: 40px;
  font-weight: 100;
  font-size: 40px;
}

.form-container {
  background-color: #f4faff;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  min-height: 300px;
  top: -63px;
  padding: 30px;
}

textarear {
  padding: 10px 5px;
}

div input {
  margin: 10px 0px;
}

.form-header {
  border-bottom: 1px solid #2a6cb8;
  height: 45px;
}

.form-header p {
  color: #2a6cb8;
  border-bottom: 2px solid #2a6cb8;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}
.form-body {
  padding: 20px;
}

.form-body p {
  margin-bottom: 20px;
}

.require-fild {
  color: #dd5e5e;
  padding: none;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
}

.optional-block {
  display: inline-block;
  margin: 0px 0px;
}
.radio-input div,
.radio-input label,
.radio-input input {
  display: inline-block;
  width: auto;
}

.radio-input div {
  margin: 10px;
}

.radio-input p {
  margin-top: 90px;
  height: 40px;
  line-height: 40px;
  font-size: large;
}
