#main {
  height: 400px;
  width: 600px;
  padding: 100px 40px;
  margin: 10px;
  border: 5px dotted #000;
  border-radius: 20px;
  background-color: #0077c74f;
  outline: 5px solid blue;
}

.h2-introduction {
  background-color: #40c22e4f;
  color: darkblue;
  font-family: "Verdana";
  padding: 10px;
  border-bottom: 5px dotted yellow;
}
