/* LARGURA E ALTURA*/
.height-width {
  height: 200px;
  width: 100px;
  background-color: #000;
}
.height-width-2 {
  height: 200px;
  /* width: 300px; */
  background-color: rgb(255, 0, 0);
}
/* PADDING "PRENCHIMENTO" */
.without-padding {
  background-color: #ffaa00;
  color: #fff;
}

.with-padding {
  background-color: #004040;
  color: #fff;
  padding: 30px;
}
/*Padding individual*/
.padding-element {
  background-color: #000;
  color: #fff;
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 70px;
}
/*short-had pandding*/
.shorthad-padding {
  background-color: #f5555f;
  padding: 10px 30px 60px 100px;
}
/*É possivel utilizar o shohgad também se aproveitando de duas dimensões para a regras*/
.shorthad-padding-2 {
  background-color: #f5005f;
  padding: 10px 30px;
}
.div-with-borderbox {
  background-color: #ffaa00;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.div-without-borderbox {
  background-color: #000;
  color: #fff;
  width: 400px;
  padding: 50px;
  /* O elemento de CSS "box-sizing"  realiza um trabalho de XXX*/
  box-sizing: border-box;
}

/*Adicionado borda a um elemento*/
.border {
  border: 5px solid red;
  padding: 10px;
}

.border-2 {
  border: 2px dotted rgb(0, 0, 100);
  padding: 120px;
}

/*Bordas individuais*/
.border-left {
  font-size: 40px;
  border-left: 3px solid rgb(200, 0, 1);
  padding: 10px;
  background-color: #ffaa00;
  color: #fff;
}
.border-top {
  font-size: 40px;
  border-top: 10px solid rgb(45, 45, 45);
  padding: 10px;
  background-color: #004040;
}
/*Borda arredondada*/
.rborder {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border: 5px solid red;
  border-radius: 10px;
}
.r border-2 {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border: 5px solid red;
  /* border-radius: 10px; */
}

/*Adicionando margem*/
.margim {
  margin: 10px;
  background-color: #000;
  color: #fff;
}
.margin-top {
  margin-top: 10px;
  background-color: #2df5f5;
  color: #fff;
  padding: 10px 20px 10px 90px;
}
.margin-shorthand {
  margin: 10px 100px 60px 10px;
  background-color: #da24c1;
  color: #fff;
}

/*Trabalhando com o boxmodels*/
.boxmodels {
  margin: 20px;
  padding: 15px 20px;
  border: 3px solid #1fc966;
  border-radius: 7px;
  width: 200px;
  height: 400px;
}
