/*Trabalhando com alinhamento de texto*/
.text-alingned {
  text-align: right;
}

.container-center {
  text-align: center;
  width: 300px;
  border: 5px solid blue;
}

/*TEXT Decoration*/
.underline {
  text-decoration: underline;
}

.line-though {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: red;
}

/*Text transform*/
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.letter-sp {
  letter-spacing: 20px;
  font-size: 20px;
  color: #1e14e0;
}

.serif {
  font-family: Georgia;
}
.sans-serif {
  font-family: Helvetica;
}
.monospace {
  font-style: "Courier New";
}
.fantasy {
  font-family: fantasy;
}
.font {
  font-size: 30px;
  padding: 10px;
}

.italico {
  font-style: italic;
  font-family: Verdana;
  font-size: 20px;
}
.oblico {
  font-style: oblique;
  font-family: Verdana;
  font-size: 20px;
}
/* font weight */
.font-weight-thin,
.font-weight-bold,
.font-weight-heavi-bold {
  font-family: Helvetica;
}
.font-weight-thin {
  font-weight: 100;
}
.font-weight-bold {
  font-weight: 400;
}
.font-weight-heavi-bold {
  font-weight: 900;
}
.font-style {
  border: 5px solid red;
  padding: 10px 10px;
}
/* Font size */
.h4-small {
  font-size: 16px;
}
.h4-big {
  font-size: 120px;
}
